<header id='header'>
	<section class='title'>
		HANBOX
	</section>
	<section class='subtitle'>
		I'm Han Xu, a polyglot software engineer who appreciates beautiful design.
	</section>
	<section class='description'>
		This Django powered site contains examples of my past projects, idle musings and ongoing experiments with the latest technologies.
	</section>
</header>

<nav id='main-nav'>
	<ul>
		<li><a href='{% url site-home %}'>WEB</a></li>
		<li><a href='{% url site-mobile-projects %}'>MOBILE</a></li>
		<li><a href='{% url site-contact %}'>CONTACT</a></li>
	</ul>
</nav>